<h1>Name your Tamagotchi:</h1>


<form action='/new' method='post'>
  <label for='name'>Name</label>
  <input id='name' name='name' type='text'>

  <button type="submit">Create a Tamagotchi</button>
</form>
